body {
  background-color: #ffffff;
  font-family: Lato, sans-serif;
  height: auto;
  margin: 0;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
  font-size: 12px;
  color: #808080;
}
table {
  width: 85%;
  height: auto;
}
th, td {
  width: 50%;
  height: auto;
  padding: 15px;
}
h1{
  color: #3264a9;
  margin: 0;
}
h2{
  color: #3264a9;
  font-size:18px;
}
h3 {
  font-size:16px;
  color:#808080;
  margin: 0;
}
p{
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  color: #808080;
  text-align: left;
  margin: 20px 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  height: auto;
  padding: 0 30px;
}

#parent {
  position: absolute;
}

div.relative {
  position: relative;
  width: 1920px;
  height: 125px;
}

div.absolute {
  position: fixed;
  background-image: url('../images/header_bg.png');
  padding: 10px 0;
  width: 100%;
  height: auto;
  z-index: 10;
}

div.fixed {
  position: fixed;
  top: 205px;
  overflow-y: scroll;
  height: 975px;
}

.start {
  width: 100%;
  height: auto;
  background-color:#ffffff;
  padding-left:0;
  padding-top:5px;
  padding-bottom:10px;
}

.collapsible {
  padding: 5px;
  width:100%;
  height: auto;
  background-color: #3264a9;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  padding: 15px 32px;
  border: none;
  outline: none;
  font-size: 18px;
}

.active1, .collapsible:hover {
  background-color: #1d3a62;
}

.collapsible:after {
  content: '\002B';
  color: #ffffff;
  float: right;
  margin-left: 5px;
}

.active1:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  transition: max-height 1.5s ease-out;
  background-color: #ffffff;
  width:100%;
  height: auto;
  text-align: center;
  margin: 10px;
}

.image {
  width: 80%;
  height: auto;
  border: 2px solid #808080;
  margin: 10px;
}

.imagedemo {
  width:70%;
  height: auto;
}

.btn {
  background-color: #ffffff;
  border: 3px solid #3264a9;
  color: #3264a9;
  font-size: 14px;
  width: 35%;
  height: auto;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 18px;
  margin: 15px;
}

.active, .btn:hover {
  background-color: #3264a9;
  color: #ffffff;
}

.btnTest {
  background-color: #3264a9;
  border: 3px solid #3264a9;
  color: #ffffff;
  font-size: 14px;
  width: 35%;
  height: auto;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 18px;
  margin: 15px;
}


/* Create container for checkmark input */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #3264a9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.PDFContent {
  background-color: white;
  padding:20px 25px;"
}

.demo {
  display:none;
  text-align: center;
}

.DMDuse{
  width:100%;
  height: auto;
  padding-top:30px;
}
.DMDuse p {
  margin: 5px 0;
  font-size: 13px;
}
.div {
  background-color: #ffffff;
  border: 1px solid #808080;
  width: 44.5%;
  height: 80%;
  overflow: scroll;
  position: fixed;
  text-align: center;
  padding: 0;
  margin: 0;
}

.innerColumn {
  margin-top: 60px;
  text-align: center;
}

.nav {
  background-color: #ffffff;
  list-style-type: none;
  text-align: center;
  width: 44.2%;
  height: auto;
  padding: 0;
  position: fixed;
  margin: 0;
}

.error {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .message {
    width: 50%;
    border-radius: 10px;
    background-color: #ffffff;
    display: block;
    margin: 100px auto 0;
    padding: 50px;
    text-align: center;
  }

  .message p {
    text-align: center;
  }

  .error .buttons {
    margin: 0 auto;
    display: block;
  }

  .error .buttons a {
    padding: 10px 0;
    margin: 0 10px;
  }

  .error {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 900;
  }
}
